<% if errors %>
  <% if errors.any? %>
    <div id="error_explanation">
      <%= pluralize(errors.count, "error") %> prohibited this game from being saved

      <ul>
      <% errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
